/* REGULAR CSS */
html {
  font-size: 1rem;
}
body {
  text-align: center;
}

header,
nav,
main,
aside,
footer {
  padding: 1%;
  margin-top: 5px;
  margin-bottom: 5px;
}
header {
  background-color: rgb(245, 161, 7);
  color: rgb(0, 0, 0);
  height: 50px;
}
nav {
  background-color: rgb(177, 177, 168);
  color: rgb(30, 91, 223);
}
main {
  background-color: rgba(78, 182, 168, 0.76);
  color: rgb(21, 39, 78);
  text-align: justify;
}
aside {
  background-color: rgb(177, 177, 168);
  color: rgb(30, 91, 223);
}
footer {
  background-color: rgb(126, 21, 21);
  color: rgb(255, 255, 255);
  text-align: justify;
  font-size: 0.6rem;
}

header p {
  position: relative;
  margin: unset;
  font-weight: bold;
}
main p {
  margin-top: unset;
}
nav a {
  text-decoration: none;
  font-weight: bold; 
}
a:hover {
  font-size: 1.1rem;
  color: crimson;
}

/* BIG SCREEN */
@media screen and (min-width: 600px) {
  nav,
  main,
  aside {
    float: left;
    overflow: auto;
    height: 500px;
  }
  nav {
    width: 24%;
  }
  main {
    max-width: 44%;
    margin-left: 1%;
    margin-right: 1%;
  }
  aside {
    width: 24%;
  }
  footer {
    clear: both;
  }
  img {
    width: 100%;
    max-width: 250px;
  }
  a {
    padding: 1%;
    display: block;
  }
}

/* SMALL SCREEN */
@media screen and (max-width: 600px) {
  nav,
  main,
  aside {
    float: none;
  }
  header,
  nav {
    overflow: auto;
  }
  nav {
    height: 50px;
  }
  img {
    display: inline;
    max-width: 22%;
  }
}
