/* REGULAR CSS */
/* Regular styling code can be found in STYLE.CSS */

/* BIG SCREEN */
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1%;
}

nav a {
  display: block;
}
aside img {
  width: 100%;
  max-width: 150px;
}

/* SMALL SCREEN */
@media screen and (max-width: 600px) {
  .grid {
    display: block;
  }
  nav a {
    display: inline;
  }
  aside img {
    display: inline;
    max-width: 22%;
  }
}
