/* REGULAR CSS */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Neucha&family=Staatliches&display=swap");

html {
  background-color: rgb(29, 30, 32);
  font-size: 1rem;
  font-family: "Staatliches", cursive;
}
body {
  text-align: center;
}

header,
nav,
main,
aside,
footer {
  padding: 1%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.726);
}
header {
  background-color: rgba(255, 208, 0, 0.568);
  color: rgb(255, 255, 255);
}
nav {
  background-color: rgba(255, 255, 255, 0.158);
  color: rgb(30, 91, 223);
}
main {
  background-color: rgba(0, 247, 111, 0.493);
  color: rgb(255, 255, 255);
  text-align: justify;
  font-family: "Caveat", cursive;
}
aside {
  background-color: rgba(255, 255, 255, 0.158);
  color: rgb(30, 91, 223);
}
footer {
  background-color: rgba(192, 24, 24, 0.582);
  color: rgb(255, 255, 255);
  font-size: 0.6rem;
}

header p {
  position: relative;
  margin: unset;
  font-weight: bold;
}
main p {
  margin-top: unset;
  margin: 1.5%;
}
nav a {
  display: block;
  background-color: rgb(27, 93, 192);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 1%;
}
a:hover {
  background-color: rgb(192, 189, 27);
  color: rgb(27, 93, 192);
}
