/* REGULAR CSS */
html {
  background-color: rgb(29, 30, 32);
  font-size: 1rem;
}
body {
  text-align: center;
}

header,
nav,
main,
aside,
footer {
  padding: 1%;
  margin-top: 5px;
  margin-bottom: 5px;
}
header {
  background-color: rgb(245, 161, 7);
  color: rgb(0, 0, 0);
}
nav {
  background-color: rgb(177, 177, 168);
  color: rgb(30, 91, 223);
}
main {
  background-color: rgba(78, 182, 168, 0.76);
  color: rgb(21, 39, 78);
  text-align: justify;
}
aside {
  background-color: rgb(177, 177, 168);
  color: rgb(30, 91, 223);
}
footer {
  background-color: rgb(126, 21, 21);
  color: rgb(255, 255, 255);
  text-align: justify;
  font-size: 0.6rem;
}

header p {
  position: relative;
  margin: unset;
  font-weight: bold;
}
main p {
  margin-top: unset;
}
nav a {
  text-decoration: none;
  font-weight: bold; 
}
a:hover {
  font-size: 1.1rem;
  color: crimson;
}