/* REGULAR CSS */
@import "style.css";

/* BIG SCREEN */
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1%;
}
nav a {
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
aside img {
  width: 100%;
  max-width: 150px;
}

/* SMALL SCREEN */
@media screen and (max-width: 600px) {
  .grid {
    display: block;
  }
  nav a {
    display: inline-block;
    margin: unset;
  }
  aside img {
    display: inline;
    max-width: 22%;
  }
}
